@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  /*font-family: 'poppins',sans-serif;*/
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #212427;
  background-color: #f8f8f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fff;

  --primary: #C89D65;
  --primary-dark: #a7732f;
  --primary-light: #cacaca;
  --base: #212427;
  --accent: #00d4d7;
  --accent-dark: #00bac1;
  --accent-light: #dff9f8;
  --success: #13d527;
  --success-dark: #00ae11;
  --success-light: #eafbe7;
  --secondary: #8f15d5;
  --secondary-dark: #6013c7;
  --secondary-light: #f4e5fa;
  --info: #15b2d5;
  --info-dark: #0f8ca8;
  --info-light: #e0f5fa;
  --caution: #dbbb25;
  --caution-dark: #d58f15;
  --caution-light: #fbf9e4;
  --error: #e6185e;
  --error-dark: #bf1257;
  --error-light: #fce4eb;
  --black: #1d1d1d;
  --dark-1: #2d2d2d;
  --dark-2: #4d4d4d;
  --dark-3: #6d6d6d;
  --gray-1: #8d8d8d;
  --gray-2: #adadad;
  --gray-3: #cdcdcd;
  --gray-4: #e0e0e0;
  --light-1: #efefef;
  --light-2: #f5f5f5;
  --light-3: #fafafa;
  --white: #ffffff;
}

.hero1{
  background-image: url(./assets/images/hero_banner_5.jpg);
}

.hero-tag{
  font-family: "Playfair Display", serif;
  font-size: 36px;
  padding-bottom: 10px;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 68em;
}

/*Buttons*/
.primary-btn {
  background: var(--primary);
  color: var(--white);
  box-shadow: var(--shadow-2);
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /*border-radius: 4px;*/
  padding: 12px 24px;
  letter-spacing: 0.08em;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.active.primary-btn, .primary-btn:hover, .primary-btn:focus {
  background: var(--primary-dark);
  color: var(--white);
  box-shadow: var(--shadow-4);
  transition: 0.3s ease;
}


.addtocart-btn {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  border-radius: 0px;
  letter-spacing: 0.08em;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.secondary-btn{
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  min-width: 110px;
  height: 42px;
  line-height: 40px;
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
  font-weight: 500;
  text-align: center;
  padding: 0 15px;
  cursor: pointer;
  transition: all .25s linear 0s;
  -webkit-transition: all .25s linear 0s;
}

.secondary-btn:hover{
  background-color: var(--primary);
  color: #fff;
}

a{
  text-decoration: none;
  background-color: transparent;
}
header{
  background-color: var(--white);
}

.justify-content-center{
  justify-content: center;
}

header {
  position: relative;
  background-color: transparent;
  transition: transform 0.6s ease, background-color 0.6s ease;
}

header.sticky {
  position: fixed;
  background-color: var(--white);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transform: translateY(0); /* Visible */
}

header.hidden {
  transform: translateY(-100%); /* Hidden */
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

.nav-items {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.nav-items a {
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #212427;
}

.nav-items a::after{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--primary-dark);
  bottom: 0px;
  transform: translateY(10px);
  opacity: 0;
  transition: .5s ease;
}
.nav-items a:hover:after{
  transform: translateY(0);
  opacity: 1;
}

.nav-items .active{
  font-weight: 700;
  color: var(--primary-dark);
}

.icon-items{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 13px;
  padding: 10px;
}

.icon-items a {
  flex: 1;
}



ul{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  unicode-bidi: isolate;
  list-style-type: none;
  }

ul li label{
  padding-left: 10px;
}

.notification {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  top: -100px; /* Place it at the bottom */
  right: 0px; /* Place it at the right */
  background-color: #4CAF50; /* Green */
  color: white; /* White text */
  padding: 15px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  z-index: 1000; /* Sit on top */
  transition: opacity 0.5s; /* Fade effect */
}

.bi-search, .bi-person-circle, .bi-bag {
  font-size: 24px;
  color: #212427;
  transition: 0.3s ease;
}
.bi-search:hover, .bi-person-circle:hover, .bi-bag:hover {
  color: var(--primary-dark);
}

/* Position the dropdown content below the profile icon */
.profile-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  top: 67px; /* Adjust as needed to position below the icon */
  left: 50%; /* Center horizontally relative to the parent */
  transform: translateX(-50%); /* Offset to center */
  background-color: var(--light-3);
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 2px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Styling for dropdown links */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show dropdown content on hover */
.profile-dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

/* Delay hiding */
.profile-dropdown .dropdown-content {
  transition-delay: 0.2s;
}


/*---------ROWS-------------*/
  .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  
  }

/*---------COLUMNS-------------*/
.col, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-12{
  position: relative;
  flex: 0 0 auto;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2{
  width: 16.6666%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.3333%;
}
.col-5{
  width: 41.66666%;
}
.col-6{
  width: 50%;
}
.col-7{
  width: 58.33333%;
}
.col-8{
  width: 66.6666%;
}
.col-9{
  width: 75%;
}
.col-10{
  width: 83.3333%;
}
.col-12{
  width: 100%;
}

img{
  max-width: 100%;
  vertical-align: middle;
}

input{
  border-radius: 0px;
  border-width: 1px;
}
input:focus{
  outline: none;
}



/*===== HERO =====*/
.hero{
  background-image: url(./assets/images/hero_banner_3.jpg);
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center;  /*Centers the image */
  background-repeat: no-repeat; /* Prevents the image from tiling */
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


/*==========ABOOUT US===============*/

.about-us {
  margin-top: 70px; /* Adjust the value as needed */
  margin-bottom: 130px; /* Adjust the value as needed */
}

.tagline {
color: var(--primary-dark);
font-family: "Playfair Display", serif;
font-size: 170%;
margin-bottom: 8%;
}

.about-desc {
font-size: 110%;
}

.about-row{
margin-top: 3%;
}

.about-title {
font-family: var(--primary-font);
}

.line {
display: inline-block; /* Make it inline to appear next to the text */
color: var(--primary);
width: 8%; /* Adjust this value for desired length */
height: 2px; /* Thickness of the line */
background-color: var(--black); /* Color of the line */
vertical-align: middle; /* Aligns the line vertically with the text */
}

.image-container {
position: relative;
display: flex;
width: 700px; /* Adjust width as needed */
height: 500px; /* Adjust height as needed */
}

.rectangle {
position: absolute;
top: 6.5%; /* Adjust as needed to align with the image */
left: -4.5%; /* Adjust as needed to align with the image */
width: 90%; /* Rectangle width */
height: 100%; /* Rectangle height */
background-color: #D1BDA3; /* Rectangle color */
z-index: 0; /* Behind the image */
}

.image-on-rectangle {
position: relative;
width: 90%; /* Adjust image size as needed */
z-index: 1; /* On top of the rectangle */
}

/*===== STATS =====*/
.statsbar{
  background-color: var(--light-1);
}

/*===== BEST SELLERS =====*/

.title_heading {
  /*font-family: Jost;*/
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.title_heading:before {
  content: "";
  width: 50%;
  height: 2px;
  background: var(--primary);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translate(-50%);
  bottom: 0;
}

.title_heading-2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}





.card-body{
  text-align: center;
}

.card-title{
  font-size: 16px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: center;
  line-height: 1.2em;
}

.card-price{
  font-size: 15px;
  font-weight: 700;
  padding-top: 5px;
}

.card{
  padding-bottom: 30px;
  transition: 0.3s ease;
}

.card:hover{
  transform: translateY(-6px);
  transition: 0.3s ease;
}

.ratings i {
  color: var(--primary);
}
.filters{
  border-style: groove;
  padding-left: 15px;
  padding-right: 15px;
}

.product-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.add-to-cart-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding-bottom: 30px; /* Add some padding from the bottom if needed */
}

.add-to-cart-btn {
  padding: 15px 15px;
  background-color: var(--white);
  color: #212427;
  border: 1px solid rgb(228, 228, 228);
  cursor: pointer;
  font-weight: bold;
  border-radius: 2px;
  opacity: 0.9;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.add-to-cart-btn:hover {
  background-color: #9dbcc4;
  color:var(--white);
  transition: 0.5 ease;
}


.product-image-container:hover .add-to-cart-overlay {
  opacity: 1;
}

.product-image-container:hover .product-image {
  transform: scale(1.05);
}



/*===== Product Details =====*/
#sold-no, #hour-no{
  color: var(--primary);
}

.quantityfield {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  border-style: solid;
  border-radius: 0px;
  border-width: 2px;
}

/*===== Cart =====*/
th, td {
  padding: 10px;
  text-align: left;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

table{
  border: none;
  border-collapse: collapse;
}

.cart-title, .cart-price{
  font-size: 13px;
  font-weight: 700;
  padding-left: 10px;
}
.cart-subtotal{
  color: var(--primary);
  font-size: 17px;
}

.remove-btn{
  all: unset;
  color: var(--base);
  transition: all 0.3s ease-out 0s;
}


.remove-btn:hover{
  color: var(--primary);
  cursor: pointer;
}

.input-wrapper{
  padding-left: 5px;
  padding-right: 5px;
}

.delivery-input{
  margin-left: -5px;
  margin-right: -5px;
}

.paypal-btn{
  border-style: solid;
  background-color: #ffffff;
  border-color: #4478c0;
  width: 100%;
  height: 44px;
}

.paypal-btn img{
  width: 68px;
  height: 21px;
}

.credit-btn{
  background-color: var(--dark-2);
  border-color: var(--dark-2);
  border-style: solid;
  color: white;
  width: 100%;
  height: 44px;
}

.paypal-btn:hover , .credit-btn:hover{
  box-shadow: var(--shadow-4);
  
}


/*=======Form=======*/
.form-group {
  margin-bottom: 0;
}

.help-block {
  margin-top: 2px;
}
.help-block .list-unstyled li {
  font-size: 12px;
  line-height: 16px;
  color: var(--error);
}
label {
  font-size: 12px;
  line-height: 18px;
  color: var(--dark-3);
  margin-bottom: 8px;
  display: inline-block;
}
.input-items {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}
.input-items input, .input-items textarea {
  width: 100%;
  height: 44px;
  border: 2px solid;
  padding-left: 10px;
  padding-right: 12px;
  position: relative;
  font-size: 16px;
}
.input-items input:focus, .input-items textarea:focus {
  box-shadow: var(--shadow-4);
}
.input-items textarea {
  padding-top: 8px;
  height: 130px;
  resize: none;
}
.input-items i {
  position: absolute;
  top: 11px;
  left: 13px;
  font-size: 20px;
  z-index: 9;
}
.input-items.default input, .input-items.default textarea {
  border-color: var(--gray-3);
  color: var(--dark-3);
}
.input-items.default input:focus, .input-items.default textarea:focus {
  border-color: var(--primary);
}
.input-items.default input::placeholder, .input-items.default textarea::placeholder {
  color: var(--dark-3);
  opacity: 1;
}
.input-items.default i {
  color: var(--dark-3);
}
.input-items.active input, .input-items.active textarea {
  border-color: var(--primary);
  color: var(--black);
}
.input-items.active input::placeholder, .input-items.active textarea::placeholder {
  color: var(--black);
  opacity: 1;
}
.input-items.active i {
  color: var(--primary);
}
.input-items.error input, .input-items.error textarea {
  border-color: var(--error);
  color: var(--error);
}
.input-items.error input::placeholder, .input-items.error textarea::placeholder {
  color: var(--error);
  opacity: 1;
}
.input-items.error i {
  color: var(--error);
}
.input-items.success input, .input-items.success textarea {
  border-color: var(--success);
  color: var(--success);
}
.input-items.success input::placeholder, .input-items.success textarea::placeholder {
  color: var(--success);
  opacity: 1;
}
.input-items.success i {
  color: var(--success);
}
.input-items.disabled input, .input-items.disabled textarea {
  border-color: var(--gray-3);
  color: var(--dark-3);
  background: none;
}
.input-items.disabled input::placeholder, .input-items.disabled textarea::placeholder {
  color: var(--dark-3);
  opacity: 1;
}
.input-items.disabled i {
  color: var(--dark-3);
}



/*===========================
  Confirmation
===========================*/
.confirmation {
  text-align: center;
  max-width: 550px;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  z-index: 5;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .confirmation {
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .confirmation {
    margin-bottom: 35px;
  }
}
.confirmation h2 {
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .confirmation h2 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
@media (max-width: 767px) {
  .confirmation h2 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}
.bi-check-circle-fill{
  font-size: 30px;
   color: var(--success);
}


/*======Orders=========*/
.bi-dot{
  font-size: 40px;
}





/*=================Login===============*/



.login{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url(./assets/images/hero_banner_4.jpg);
  background-position: center;
  background-size: cover; 
  border-top: 1px solid #000;
}

.form-box{
  position: relative;
  align-content: center;
  width: 400px;
  height: 450px;
  background: white;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;

}
.form-box-register{
  position: relative;
  align-content: center;
  width: 410px;
  height: 510px;
  background: white;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;

}


.login-header{
  font-size: 2em;
  text-align: center;
}

.inputbox{
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid var(--primary)
}

.inputbox label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #000;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}
input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding:0 35px 0 5px;
  color: #000000;
}
.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color:var(--primary);
  font-size: 1.2em;
  top: 20px;
}
.forget{
  margin: -15px 0 15px ;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between;  
}
.forget label{
  color: #000000;
}
.forget label input{
  margin-right: 3px;
  
}
.forget a{
  color: #2b63ff;
  text-decoration: none;
}
.forget label a:hover{
  text-decoration: underline;
}
.register{
  font-size: .9em;
  color: #000000;
  text-align: center;
  margin: 25px 0 10px;
}
.register p a{
  text-decoration: none;
  color: #3f3bff;
  font-weight: 400;
}
.register p a:hover{
  text-decoration: underline;
}
.submit{
  text-align: right;
  transform: translateX(-200px);
}

.login-btn{
  width: 100%;
}


/*===== FOOTER =====*/
.f-download {
  width: 40%;
}

.footer-one {
  background-color: var(--light-1);
}
.footer-one .footer-logo {
  margin-top: 30px;
}
.footer-one .footer-widget {
  padding-top: 20px;
  padding-bottom: 100px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-one .footer-widget {
    padding-top: 40px;
    padding-bottom: 70px;
}
}
@media (max-width: 767px) {
  .footer-one .footer-widget {
    padding-top: 20px;
    padding-bottom: 50px;
}
}
.footer-one .footer-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: black;
  position: relative;
}
.footer-one .footer-app-store {
  padding-top: 22px;
}
.footer-one .footer-app-store .download-title {
  font-size: 15px;
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  color: var(--dark-2);
}
.footer-one .footer-app-store li {
  display: inline-block;
  margin-right: 8px;
}
.footer-one .footer-app-store li img {
  max-width: 140px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-one .footer-app-store li {
    margin-right: 6px;
  }
}
.footer-one .footer-app-store li:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .footer-one .footer-app-store li {
    width: 120px;
    display: block;
    margin-bottom: 10px;
  }
  .footer-one .footer-app-store li:last-child {
    margin: 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-one .footer-app-store li {
    width: auto;
  }
}
.footer-one .footer-app-store li a {
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.footer-one .footer-app-store li a:hover {
  box-shadow: var(--shadow-4);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  transform: translateY(-4px);
}
.footer-one .f-about {
  margin-top: 30;
}
.footer-one .f-about .text {
  margin-top: 20px;
  color: var(--dark-2);
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
  .footer-one .f-about {
    padding-right: 200px;
  }
}
.footer-one .footer-link {
  margin-top: 70px;
}
.footer-one .footer-link ul {
  margin-top: 25px;
}
.footer-one .footer-link ul li {
  margin-top: 15px;
}
.footer-one .footer-link ul a {
  font-size: 18px;
  line-height: 24px;
  color: var(--dark-3);
  font-weight: 400;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  color: #555;
  position: relative;
  text-decoration: none;
}
@media (max-width: 767px) {
  .footer-one .footer-link ul a {
    margin-top: 12px;
  }
}
.footer-one .footer-link ul a:hover {
  color: var(--primary);
}
.footer-one .footer-contact {
  margin-top: 70px;
}
.footer-one .footer-contact ul {
  margin-top: 24px;
}
.footer-one .footer-contact ul li {
  display: block;
  margin-top: 15px;
  padding-left: 24px;
  position: relative;
  color: var(--dark-3);
}
.footer-one .footer-contact ul li:first-child {
  margin: 0;
}
.footer-one .footer-contact ul li i {
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 4px;
}
.footer-one .footer-copyright {
  border-top: 1px solid var(--gray-4);
}
.footer-one .copyright {
  padding-bottom: 23px;
  padding-top: 13px;
}
.footer-one .copyright .text {
  color: var(--dark-3);
  margin-top: 10px;
}
.footer-one .social {
  margin-top: 10px;
}
.footer-one .social li {
  display: inline-block;
  margin-right: 15px;
}
.footer-one .social li:last-child {
  margin-right: 0;
}
.footer-one .social li a {
  font-size: 18px;
  color: var(--dark-3);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.footer-one .social li a:hover {
  color: var(--primary);
}

/*-----------footer end---------*/

@media screen and (max-width: 1920px) {

  .container {
    width: 90em;
  }

}

@media screen and (max-width: 1680px) {

  .container {
    width: calc(100% - 100px);
  }

}

@media screen and (max-width: 1280px) {

  .container {
    width: calc(100% - 100px);
  }

}

@media screen and (max-width: 980px) {

  .container {
    width: calc(100% - 100px);
  }

}

@media screen and (max-width: 670px) {

  .container {
    width: 22em;
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

}



/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/